.about {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 150px;
}

.about-img {
    flex: 1;
}

.about-img img {
    width: 500px;
    height: 700px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.about-text {
    flex: 1;
    /*width: 100px;*/
    display: flex;
    flex-flow: column wrap;
}

.about-text small,
.about-text p,
.about-text input,
.about-text a {
    flex: 1;
    font-family: Roboto;
}

.about-text small {
    color: #FFC342;
    font-size: 18px;
}

.about-text h2 {
    flex: 1;
    font-family: Barlow Condensed;
    font-size: 60px;
    color: #191D34;
    width: 450px;
}

.about-text label {
    padding-bottom: 10px;
    color: #506172;
    font-weight: bolder;
    font-family: Roboto;
    letter-spacing: 1px;
}

.about-text p {
    width: 500px;
    line-height: 30px;
    color: #506172;
    font-weight: bolder;
    padding: 50px 0;
}

.about-text a {
    background-color: #fff;
    border: 2px solid #014B85;
    text-decoration: none;
    border-radius: 5px;
    width: 180px;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    color: #014B85;
    font-weight: bolder;
    font-size: 14px;
}

.about-text a:hover {
    background-color: #014B85;
    color: #fff;
}