.msg-sent{
    background-color:  #0daa22;
    color: white;
    font-size: 22px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }