.hotelform-heading{    
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 15px 15px;
}

.hotel-form{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    opacity: 0.8;
    padding: 10px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

form{
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    width: 100%;
    padding: 1% 2%;
}

.rooms{
    margin-left: 40px;
}

