.tour
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}
.imag
{
    flex: 1;
}
.imag img {
    height: 400px;
    width: 600px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}
.imag:hover{
    transform: scale(1.02);
    transition: 0.8s ease;
}
.title h1
{
    flex: 1;
    font-family: Barlow Condensed;
    padding-left: 350px;
    padding-top: 90px;
    padding-bottom: 60px;
    font-size: 60px;

}
.text {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
}

.text h2 {
    flex: 1;
    font-family: Barlow Condensed;
    font-size: 60px;
    color: #191D34;
    width: 450px;
}
.text h3{
    width: 500px;
    line-height: 30px;
    color: #506172;
    font-weight: bolder;
    padding: 50px 0;
}
